body{

    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0;
}

.start{

    text-align: center;
    
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.50);
    height: 800px;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    color: white;
    font-size: 70px;

}

.start-writting p{
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
}

.start-writting a{
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 19px;
    
}

.start-writting{
    padding: 200px 300px;
}

/* section 2 start*/

/* section 2 start */

/* section 2 start */

.Donate-today{
    text-align: center;
    margin-top: 100px;
}

.donate-text{
    text-align: center;
    padding: 15px 400px;
}

.donate-text h2{
    font-size: 50px;

}

.donate-text p{
    font-size: 20px;
    color: gray;
}
.money {
    display: flex;
    /* margin: 0 auto; */
    margin-left: 320px;
    gap: 25px;
}

.tk{
    color: gray;
    height: 150px;
    width: 150px;
    background-color: rgb(247, 245, 245);
    text-align: center;
    border-radius: 5px;

}

.tk h3{
    font-size: 35px;
    padding-top: 10px;
}

#change{
    background-color: rgb(253, 241, 237);
    border: 3px solid orangered;
}

#change h3{
    color: orangered;
}

.other-amount{
    border-bottom: 2px solid rgb(209, 208, 208);
    margin: 0px 350px;
     margin-top: 80px; 
     margin-bottom: 60px;
}
.other-amount p{
    color: gray;
    font-size: 18px;
}

.btn{

    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 19px;

}

/* section 3 start */

/* section 3 start */

/* section 3 start */

.donation-plan{
    margin: 180px 0px;
}

.donation-plan-writting{
    text-align: center;
}

.donation-plan-writting h2{
    font-size: 50px;
}

.donation-plan-writting p{
    font-size: 20px;
    padding: 10px 350px;
    color: gray;
}

.donation-types{
    display: flex;
    margin-left: 180px;
   
    gap: 25px;
}

.donation-types h4{
    font-size: 30px;
}

.donation-types p{
    font-size: 17px;
    color: gray;
}


.box{
    background-color: aliceblue;

    width: 320px;
    border-radius: 5px;
    padding: 30px 20px;

    
}

.icon{
    padding-top: 35px;
}
.shelter{
    background-color: rgb(248, 235, 230);
}
.education{
    background-color: rgb(250, 232, 202);
}

/* section 4 start */

.own{
    margin-top: 300px;
}

.own-style{
    display: flex;
    gap: 30px;
}

.own-style h2{
    font-size: 45px;
}

.parts{
    
    height: 350px;
    width: 500px;
}

.parts img{
    width: 100%;
}

/* section 5 start */

/* section 5 start */

/* section 5 start */

.get-updates{
    text-align: center;

}

.get-update-writting h2{
    /* text-align: center; */
    font-size: 50px;

}

.get-update-writting p{
    font-size: 19px;
    color: grey;
    padding: 0px 350px;
}

.form-to-update{
    background-color: rgb(255, 238, 211);

    padding: 80px 0px;

    margin: 0px 320px;
}

.email{
    font-size: 18px;
    padding: 8px 8px;
    border: 2px solid gainsboro;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: gainsboro;
    margin: 0;
}

.sub{
    font-size: 18px;
    background-color: orangered;
    border: 2px solid orangered;
    padding: 8px 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
     margin: 0; 
}

/* footer */
/* footer */
/* footer */

footer{
    text-align: center;
    background-color: rgb(0, 0, 46);
    margin-top: 150px;
    margin-bottom: 0px;
}

footer h2{
    padding-top: 50px ;
}

span{
    font-size: 30px;
    color: orangered;
    font-family: 'Lobster', cursive;
    
}

footer p{
    color: white;
    padding-bottom: 40px;
}